@charset "UTF-8";
/***************************************************************************/
/* FONTS */
@font-face {
  font-family: "Cormorant";
  font-display: swap;
  src: url("../fonts/Cormorantgaramondbook.woff2") format("woff2"), url("../fonts/Cormorantgaramondbook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  font-display: swap;
  src: url("../fonts/Cormorantgaramondbookitalic.woff2") format("woff2"), url("../fonts/Cormorantgaramondbookitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/***************************************************************************/
/* CSS RESET */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: "OpenSans";
}

/***************************************************************************/
/***************************************************************************/
/* BODY */
body {
  color: #444;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.lock {
  overflow: hidden;
}

/***************************************************************************/
/* WRAPPER */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/***************************************************************************/
/* CONTAINER */
.container {
  max-width: 1190px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 15px;
  }
}

/***************************************************************************/
/* GLOBAL CLASSES */
/* TITLE */
.title {
  color: #c6c6c6;
  font-family: 'Cormorant', sans-serif;
  font-size: 90px;
  letter-spacing: -0.2px;
  line-height: 1.3em;
}

.medium-title {
  color: #222;
  font-family: 'Cormorant', sans-serif;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 1.3em;
}

.small-title {
  color: #3d4144;
  font-family: 'Cormorant', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5em;
}

/**************************************/
/* BUTTONS */
.btn {
  padding: 18px 35px;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #fff;
  background: #000;
}

.btn--black {
  color: #fff;
  font-weight: 600;
  background-color: #000;
}

.btn--black:hover {
  color: #232323;
  background-color: #fff;
}

.btn--grey {
  color: #fff;
  font-weight: 600;
  background: #3e3f41;
  border: 1px solid #3e3f41;
}

.btn--grey:hover {
  color: #3e3f41;
  background: transparent;
}

/**************************************/
/* IBG */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

/**************************************/
/* BLUR EFFECT */
.blur-ef{
  -webkit-filter: blur(3px);
		filter: blur(3px);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
}
.blur-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
body._touchscreen .blur-effect {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/**************************************/
/* PARALAX */
.paralax {
  position: relative;
  z-index: -1 !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.paralax--scrolled {
  opacity: 1;
}

/***************************************************************************/
/* POPUP */
.popup {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup-content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup-body {
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.popup-content {
  padding: 30px;
  position: relative;
  max-width: 800px;
  min-width: 300px;
  color: #000;
  background-color: #f3f3f3;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.popup-close span {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.popup-close span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.popup-close span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.popup__title {
  color: #000;
  font-family: 'Cormorant', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.popup__txt {
  margin: 0px 0px 15px 0px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.form-input {
  padding: 0 15px;
  margin: 0px 0px 15px 0px;
  height: 45px;
  display: block;
  width: 100%;
  line-height: 45px;
  border: 1px solid #000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.form-input::-webkit-input-placeholder {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-input::-moz-placeholder {
  opacity: 1;
  visibility: visible;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-input:-ms-input-placeholder {
  opacity: 1;
  visibility: visible;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-input::-ms-input-placeholder {
  opacity: 1;
  visibility: visible;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-input::placeholder {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-input:focus {
  border: 1px solid #c6a03f;
}

.form-input:focus::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-input:focus::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-input:focus:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-input:focus::-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-textarea {
  padding: 10px 15px 0;
  resize: none;
  height: 100px;
  line-height: 20px;
}

/***************************************************************************/
/* GO TO TOP BTN */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 99999;
  background: url("../images/icons/arrow-up.svg") center/9px 14px no-repeat, #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

/***************************************************************************/
/* HEADER */
.header {
  padding: 25px 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
  text-align: center;
}

.header.secondary-header .menu-list__link {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.secondary-header .menu-list__link:hover,
.header.secondary-header .menu-list__link.active {
  color: #c6a03f;
}

.header.secondary-header .menu-burger span {
  background-color: #000;
}

.menu {
  display: inline-block;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list li {
  margin: 0 20px;
}

.menu-list__link {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-list__link:hover, .menu-list__link.active {
  color: #c6a03f;
}

.header-btn {
  position: absolute;
  top: 17px;
  right: 30px;
}

.menu-burger {
  display: none;
  position: absolute;
  top: 26px;
  right: 25px;
  width: 30px;
  height: 18px;
  z-index: 5;
  cursor: pointer;
}

.menu-burger span {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-burger span:first-child {
  top: 0px;
}

.menu-burger span:last-child {
  top: auto;
  bottom: 0px;
}

.menu-burger.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.menu-burger.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.menu-burger.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

/***************************************************************************/
/* FOOTER */
.footer {
  line-height: 1.7em;
  background-color: #f3f3f3;
}

.footer-inner {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 20%;
}

.footer-logo {
  margin: 0px 0px 30px 0px;
  color: #000;
  font-family: 'Cormorant', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.footer-title {
  margin: 0px 0px 20px 0px;
  color: #3d4144;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: uppercase;
}

.footer-email,
.footer-phone {
  color: #3d4144;
}

.footer-email:hover,
.footer-phone:hover {
  text-decoration: underline;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__link {
  margin: 0px 20px 0px 0px;
  width: 15px;
  height: 15px;
}

.footer-socials__link img {
  width: 20px;
  height: 20px;
}

.footer-bottom {
  padding: 25px 0;
  background-color: #fff;
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__item span {
  margin: 0px 5px 0px 0px;
  line-height: 1em;
}

.footer-bottom__item img {
  margin: 3px 0px 0px 0px;
  width: 67px;
  height: 15px;
}

/***************************************************************************/
/***************************************************************************/
/* HOMEPAGE */
/* INTRO */
.intro {
  height: 100vh;
  background: url("../images/intro-bg.jpg") center/cover no-repeat;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100%;
}

.intro-title {
  margin: 0px 0px 20px 0px;
  color: #fff;
  font-family: 'Cormorant', sans-serif;
  font-size: 90px;
  line-height: 1.3em;
  letter-spacing: -0.2px;
}

.intro-txt {
  color: #fff;
  font-family: 'Cormorant', sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.8em;
}

/***************************************************************************/
/* ABOUT */
.about {
  padding: 130px 0;
}

.about-preview {
  margin: 0px auto 120px;
  width: 78%;
  color: #222;
  font-family: 'Cormorant', sans-serif;
  font-size: 35px;
  line-height: 1.4em;
  letter-spacing: -0.2px;
  text-align: center;
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-inner__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  max-width: 48%;
}

.about-title {
  margin: 0px 0px 10px 0px;
  color: #c6c6c6;
}

.about-txt {
  margin: 0px 0px 35px 0px;
  font-size: 18px;
}

.about-txt p {
  margin: 0px 0px 30px 0px;
}

.about-txt p:last-child {
  margin: 0;
}

.about-txt--small {
  font-size: 15px;
}

.about-img {
  padding: 0px 0px 105% 0px;
  position: relative;
  width: 130%;
  overflow: hidden;
}

/***************************************************************************/
/* WORKS */
.works {
  padding: 0px 0px 100px 0px;
  overflow: hidden;
}

.works-title {
  margin: 0px 0px 50px 0px;
}

.works-inner {
  margin: 0px 0px 55px 0px;
}

.works-item {
  margin: 0px 0px 165px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-item--reverse .works-item__column:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.works-item--reverse .works-item__column:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.works-item--reverse .works-item__content {
  padding-right: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.works-item--reverse .works-item__img {
  margin: 0 50px 0 auto;
}

.works-item:last-child {
  margin: 0px 0px 0px 0px;
}

.works-item__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  position: relative;
}

.works-item__content {
  padding-right: 20px;
  position: relative;
  top: 50%;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.works-item__btn {
  background-color: #fff;
}

.works-item__title {
  margin: 0px 0px 20px 0px;
  text-shadow: 0 0 3px white;
}

.works-item__txt {
  margin: 0px 0px 35px 0px;
}

.works-item__img {
  padding: 0px 0px 110% 0px;
  position: relative;
  width: 400px;
  height: 0;
  overflow: hidden;
  z-index: 2;
}

.works-btn__wrapper {
  text-align: center;
}

/***************************************************************************/
/* OUR BLOG */
.our-blog {
  padding: 0px 0px 150px 0px;
}

.our-blog__title {
  margin: 0px 0px 25px 0px;
}

.our-blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-blog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  max-width: 29%;
  text-align: center;
}

.our-blog__item-img {
  padding: 0px 0px 70% 0px;
  margin: 0px 0px 20px 0px;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.our-blog__item-img:hover .blur-effect {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-blog__item-img:hover .blur-effect:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.our-blog__item-title {
  display: block;
}

.our-blog__item-title:hover {
  text-decoration: underline;
}

.our-blog__item-date {
  margin: 8px 0;
  color: #717171;
  font-size: 11px;
  line-height: 2em;
  letter-spacing: 1px;
}

/***************************************************************************/
/***************************************************************************/
/* ABOUT-PAGE */
.about-quote {
  padding: 40px 0px 20px 0px;
}

.about-quote__title {
  margin: 0px auto;
  position: relative;
  width: 84%;
  text-align: center;
  color: #222;
  font-family: 'Cormorant', sans-serif;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 1.3em;
}

.about-quote__title:before {
  content: '';
  position: absolute;
  top: -80px;
  left: 50%;
  width: 60px;
  height: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../images/icons/quotes.png") center/100% 100% no-repeat;
}

@media (max-width: 767.98px) {
  .about-quote__title {
    font-size: 35px;
  }
}

/***************************************************************************/
.about-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-portfolio,
.btn-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  width: 50%;
  height: 385px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-portfolio:hover,
.btn-contacts:hover {
  background-color: #414141;
}

.btn-portfolio {
  background-color: #bebfc0;
}

.btn-contacts {
  background-color: #c7c8c9;
}

.about-buttons__btn-inner {
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about-buttons__title {
  font-family: 'Cormorant', sans-serif;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 68px;
}

.about-buttons__txt {
  margin: 0px 0px 25px 0px;
  font-family: 'Cormorant', sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 1.8em;
}

.about-buttons__link {
  padding: 0px 0px 6px 0px;
  position: relative;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-buttons__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0%;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about-buttons__link:hover:after {
  width: 100%;
  right: auto;
  left: 0;
}

@media (max-width: 767.98px) {
  .about-buttons {
    display: block;
  }
  .btn-portfolio,
  .btn-contacts {
    width: 100%;
    height: 325px;
  }
  .about-buttons__title {
    font-size: 35px;
    line-height: 48px;
  }
}

/***************************************************************************/
/***************************************************************************/
/* PORTFOLIO - PAGE */
/* SECONDARY INTRO */
.secondary-intro {
  position: relative;
  width: 100%;
  height: 665px;
  overflow: hidden;
}

.secondary-intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.secondary-intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 999;
  height: 100%;
}

.secondary-intro__title {
  margin: 0px 0px 20px 0px;
  color: #222;
  font-family: 'Cormorant', sans-serif;
  font-size: 90px;
  line-height: 1.3em;
  letter-spacing: -0.2px;
}

.secondary-intro__txt {
  color: #222;
  font-family: 'Cormorant', sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 1.8em;
}

/***************************************************************************/
/* PORTFOLIO */
.portfolio {
  padding: 90px 0 70px;
}

.portfolio-inner {
  margin: 0px -2.3% 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.portfolio-item {
  margin: 0px 2.3% 40px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  max-width: 31%;
  text-align: center;
}

.portfolio-item__img {
  padding: 0px 0px 70% 0px;
  margin: 0px 0px 15px 0px;
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item__img:hover .blur-effect {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item__img:hover .blur-effect:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.portfolio-item__title:hover {
  text-decoration: underline;
}

.portfolio-item__categories {
  margin: 5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-item__category {
  padding: 0 8px;
  position: relative;
  color: #c6c6c6;
  font-size: 12px;
  line-height: 1.4em;
  letter-spacing: 2px;
}

.portfolio-item__category:after {
  content: '.';
  position: absolute;
  bottom: 3.5px;
  right: -3px;
  color: #c6c6c6;
}

.portfolio-item__category:last-child:after {
  display: none;
}

/***************************************************************************/
/***************************************************************************/
/* CONTACTS - PAGE */
.contacts_page {
  padding: 130px 0;
}

.contacts_page .about-inner__column:first-child {
  margin: 0 0 50px 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.contacts_page .about-inner__column:last-child {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.about-txt a {
  color: #000;
}

.map {
  position: relative;
  height: 100%;
}

/* СТИЛИЗАЦИЯ КАРТЫ */
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: grayscale(1) brightness(100%) invert(100%);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

@media (max-width: 992.98px) {
  .contacts_page {
    padding: 80px 0 20px;
  }
  .map {
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  .contacts_page {
    padding: 60px 0 20px;
  }
  .map {
    height: 350px;
  }
}

@media (max-width: 567.98px) {
  .map {
    height: 300px;
  }
}

/***************************************************************************/
/***************************************************************************/
/* PROJECT - PAGE */
.project-inner {
  padding: 120px 0px 0px 0px;
}

.slider {
  margin: 0px 0px 50px 0px;
  overflow: hidden;
}

.product a {
  height: 500px;
  display: block;
}

.product a img {
  margin: 0px auto;
  width: auto !important;
  max-width: 100%;
  height: 100%;
}

.slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  width: 100%;
}

.slider .owl-nav button.owl-prev,
.slider .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  overflow: hidden;
  color: #fff !important;
  font-size: 20px !important;
  text-align: center;
  background: rgba(0, 0, 0, 0.2) !important;
}

.slider .owl-nav button.owl-prev {
  left: 0;
}

.slider .owl-nav button.owl-next {
  right: 0;
}

@media (max-width: 992.98px) {
  .product a {
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  .project-inner {
    padding: 90px 0px 0px 0px;
  }
}

@media (max-width: 567.98px) {
  .product a {
    height: 300px;
  }
}

/***************************************************************************/
.portfolio-buttons__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
  position: relative;
  width: 50%;
  height: 145px;
  text-align: center;
  color: #fff;
  background-color: #c7c8c9;
  border-right: 1px solid #bbbbbb;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-btn:hover {
  background-color: #414141;
}

.portfolio-btn:hover .portfolio-btn__icon span {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.portfolio-btn:last-child {
  border: none;
}

.portfolio-btn--next:after {
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  background-color: #414141;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.portfolio-btn--next:hover {
  background-color: #c7c8c9;
}

.portfolio-btn--next:hover:after {
  width: 100%;
  right: auto;
  left: 0;
}

.portfolio-btn--next:hover .portfolio-btn__title {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.portfolio-btn--next:hover .portfolio-btn__arrow {
  -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
          transform: translateX(35px);
}

.portfolio-btn--next:hover .arrow-line-two {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.portfolio-btn__inner {
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.portfolio-btn__icon {
  margin: 0px auto;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-btn__icon span {
  margin: 0px 0px 2px 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-btn__icon span:nth-child(1) {
  -webkit-transition-delay: 50ms;
       -o-transition-delay: 50ms;
          transition-delay: 50ms;
}

.portfolio-btn__icon span:nth-child(2) {
  -webkit-transition-delay: 80ms;
       -o-transition-delay: 80ms;
          transition-delay: 80ms;
}

.portfolio-btn__icon span:nth-child(3) {
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms;
}

.portfolio-btn__icon span:nth-child(4) {
  -webkit-transition-delay: 120ms;
       -o-transition-delay: 120ms;
          transition-delay: 120ms;
}

.portfolio-btn__title {
  display: inline-block;
  font-family: 'Cormorant', sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-btn__arrow {
  margin: -6px 0 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 0;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.arrow-line-one,
.arrow-line-two,
.arrow-line-three {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.arrow-line-one,
.arrow-line-three {
  position: absolute;
  top: 0;
  right: 0;
}

.arrow-line-one {
  -webkit-transform: rotate(45deg) translateX(1px);
      -ms-transform: rotate(45deg) translateX(1px);
          transform: rotate(45deg) translateX(1px);
}

.arrow-line-two {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  width: 20px;
}

.arrow-line-three {
  -webkit-transform: rotate(-45deg) translateX(1px);
      -ms-transform: rotate(-45deg) translateX(1px);
          transform: rotate(-45deg) translateX(1px);
}

@media (max-width: 640px) {
  .portfolio-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    width: 25%;
  }
  .portfolio-btn--next {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    width: 75%;
  }
}

@media (max-width: 485px) {
  .portfolio-buttons__wrapper {
    display: block;
  }
  .portfolio-btn {
    width: 100%;
    height: 100px;
    border-right: none;
    border-bottom: 1px solid #bbbbbb;
  }
  .portfolio-btn:last-child {
    border: none;
  }
  .portfolio-btn__title {
    font-size: 24px;
  }
}

/***************************************************************************/
.mce {
  padding: 0px 0px 0px 25px;
}

.mce h1 {
  margin: 0px 0px 20px 0px;
  font-family: 'Cormorant', sans-serif;
  color: #222;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 68px;
}

.mce h2 {
  margin: 0px 0px 30px 0px;
  color: #444;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
}

.mce ul {
  margin: 0px 0px 30px 0px;
}

.mce ul li {
  margin: 0px 0px 10px 0px;
  list-style-type: disc;
}

.mce p {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 767.98px) {
  .mce h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .mce h2 {
    margin: 0px 0px 20px 0px;
  }
  .mce ul {
    margin: 0px 0px 20px 0px;
  }
  .mce p {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 576.98px) {
  .mce h1 {
    font-size: 40px;
  }
  .mce h2 {
    margin: 0px 0px 15px 0px;
  }
  .mce ul {
    margin: 0px 0px 15px 0px;
  }
  .mce p {
    margin: 0px 0px 15px 0px;
  }
}

/***************************************************************************/
/***************************************************************************/
/***************************************************************************/
/* RESPONSIVE */
@media (max-width: 1240px) {
  .about-img {
    padding: 0px 0px 105% 0px;
    width: 100%;
  }
  /**************************************/
  .secondary-intro {
    height: 580px;
  }
}

/***************************************************************************/
@media (max-width: 992.98px) {
  .menu {
    display: block;
  }
  .menu-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  /**************************************/
  .about {
    padding: 80px 0;
  }
  .about-preview {
    margin: 0 auto 70px;
  }
  .about-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-inner__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
  .about-inner__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-inner__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 30px 0px;
  }
  .about-img {
    padding: 0px 0 50% 0;
    margin: 0 auto;
    width: 75%;
  }
  /**************************************/
  .works {
    padding: 0px 0 80px 0;
  }
  .works-item {
    margin: 0px 0px 100px 0px;
  }
  .works-item__img {
    padding: 0 0 150% 0;
    width: 360px;
  }
  /**************************************/
  .our-blog {
    padding: 0px 0px 100px 0px;
  }
  .our-blog__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-blog__item {
    margin: 0px 0px 50px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    max-width: 45%;
  }
  .our-blog__item:last-child {
    margin: 0;
  }
  /**************************************/
  .footer-inner {
    padding: 90px 0 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-column {
    margin: 0px 0px 50px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    max-width: 40%;
  }
  /**************************************/
  .secondary-intro__title {
    font-size: 74px;
  }
  /**************************************/
  .portfolio {
    padding: 90px 0;
  }
  .portfolio-inner {
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-item {
    margin: 0px 0px 50px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    max-width: 45%;
  }
  .portfolio-item:last-child {
    margin: 0;
  }
}

/***************************************************************************/
@media (max-width: 767.98px) {
  .blur-effect {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  .title {
    font-size: 55px;
  }
  .medium-title {
    font-size: 45px;
    line-height: 1em;
  }
  .btn {
    padding: 12px 30px;
  }
  /**************************************/
  .header.secondary-header .menu-list__link {
    color: #fff;
  }
  .header-btn {
    right: 80px;
  }
  .menu-burger {
    display: block;
  }
  .menu {
    padding: 30px;
    position: fixed;
    top: 80px;
    right: -150%;
    width: 300px;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu.active {
    right: 0;
  }
  .menu-list {
    display: block;
  }
  .menu-list li {
    margin: 0 0 10px 0;
  }
  .menu-link {
    font-size: 22px;
  }
  /**************************************/
  .about {
    padding: 70px 0;
  }
  .about-preview {
    margin: 0 auto 50px;
    width: 90%;
    font-size: 28px;
    line-height: 1.2em;
  }
  /**************************************/
  .works-item {
    margin: 0 0 70px 0;
  }
  .works-item--reverse .works-item__content {
    left: -60px;
  }
  .works-item--reverse .works-item__img {
    margin: 0 auto;
  }
  .works-item__content {
    right: -60px;
  }
  .works-item__title {
    margin: 0px 0px 10px 0px;
  }
  .works-item__txt {
    margin: 0 0 20px 0;
  }
  .works-item__img {
    padding: 0 0 170% 0;
    width: 100%;
  }
  /**************************************/
  .footer-bottom {
    padding: 20px 0;
  }
  .footer-bottom__inner {
    display: block;
  }
  .footer-bottom__item {
    margin: 0px 0px 10px 0px;
  }
  .footer-bottom__item:last-child {
    margin: 0;
  }
  /**************************************/
  .secondary-intro {
    height: 100vh;
  }
  .secondary-intro__title {
    font-size: 60px;
  }
}

/***************************************************************************/
@media (max-width: 576.98px) {
  body {
    font-size: 14px;
    line-height: 1.5em;
  }
  /**************************************/
  .intro-title {
    margin: 0 0 10px 0;
    font-size: 80px;
  }
  .intro-txt {
    font-size: 26px;
    line-height: 1.5em;
  }
  /**************************************/
  .about-preview {
    margin: 0 auto 35px;
    font-size: 24px;
  }
  .about-img {
    padding: 0 0 60% 0;
    width: 90%;
  }
  /**************************************/
  .works-item--reverse .works-item__content {
    left: -40px;
  }
  .works-item--reverse .works-item__img {
    margin: 0 auto;
  }
  .works-item__content {
    right: -40px;
  }
  /**************************************/
  .our-blog__item {
    margin: 0px 0px 50px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    max-width: 90%;
  }
  .our-blog__item:last-child {
    margin: 0;
  }
  /**************************************/
  .footer-inner {
    padding: 60px 0 10px;
  }
  /**************************************/
  .secondary-intro__title {
    font-size: 50px;
  }
  /**************************************/
  .portfolio {
    padding: 70px 0;
  }
  .portfolio-inner {
    display: block;
  }
  .portfolio-item {
    margin: 0px auto 35px;
    max-width: 90%;
  }
  .portfolio-item:last-child {
    margin: 0px auto;
  }
}

/***************************************************************************/
@media (max-width: 485px) {
  .title {
    font-size: 34px;
    line-height: 1em;
  }
  .medium-title {
    font-size: 26px;
  }
  .small-title {
    font-size: 20px;
    line-height: 1.3em;
  }
  /**************************************/
  .intro-title {
    margin: 0 0 5px 0;
    font-size: 55px;
  }
  .intro-txt {
    font-size: 20px;
  }
  /**************************************/
  .works {
    padding: 0 0 70px 0;
  }
  .works-title {
    margin: 0 0 35px 0;
  }
  .works-item {
    margin: 0px 0px 50px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-item--reverse .works-item__content {
    left: 0;
  }
  .works-item--reverse .works-item__img {
    margin: 0 auto 20px;
  }
  .works-item__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
  .works-item__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .works-item__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .works-item__content {
    right: 0;
  }
  .works-item__img {
    padding: 0 0 100% 0;
    margin: 0px 0px 20px 0px;
  }
  /**************************************/
  .our-blog {
    padding: 0 0 70px 0;
  }
  .our-blog__item {
    margin: 0 0 40px 0;
  }
  /**************************************/
  .footer {
    line-height: 1.5em;
  }
  .footer-inner {
    padding: 50px 0 15px;
    display: block;
  }
  .footer-column {
    margin: 0px 0px 35px 0px;
    max-width: 100%;
  }
  .footer-title {
    margin: 0px 0px 10px 0px;
  }
  .footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
  }
  .footer-bottom__item img {
    margin: 0px 0px 0px 0px;
  }
  /**************************************/
  .secondary-intro__title {
    font-size: 32px;
  }
  .secondary-intro__txt {
    font-size: 18px;
    line-height: 1em;
  }
}

/***************************************************************************/

.webp .intro{ background: url(../images/intro-bg.webp) center/cover no-repeat; }

.webp .about-quote__title:before{ background: url(../images/icons/quotes.webp) center/100% 100% no-repeat; }
