/* FONTS */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src: url("../fonts/TTNorms-ExtraBold.woff2") format("woff2"), url("../fonts/TTNorms-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src: url("../fonts/TTNorms-Black.woff2") format("woff2"), url("../fonts/TTNorms-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* VARS */
html._dark-theme {
  --color-text: #fafafa;
  --color-text-inverse: #131313;
  --color-bg: #131313;
  --color-bg-inverse: #fafafa;
  --color-bg2: #1f1f1f;
  --color-main: #eeea1f;
  --color-error: #b31919;
  --shadow: 0 0 15px 0 rgba(19, 19, 19, 0.5);
  --shadow-text: 0 0 7px var(--color-bg);
}

html._light-theme {
  --color-text: #131313;
  --color-text-inverse: #fafafa;
  --color-bg: #d8d8d8;
  --color-bg-inverse: #131313;
  --color-bg2: #fff;
  --color-main: #b31919;
  --color-error: #ff0000;
  --shadow: 0 0 15px 0 rgba(19, 19, 19, 0.2);
  --shadow-text: 0 0 7px var(--color-bg);
}

/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

/* BODY */
body {
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
}

body.is-locked {
  overflow: hidden;
}

/* WRAPPER */
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* CONTAINER */
.container {
  max-width: 1270px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1620px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

/* COMMON CLASSES */
/* SECTION */
.fullpage-init .section {
  padding: 75px 0px 0px 0px;
}

.fullpage-init .section .container {
  display: flex;
  align-items: center;
  height: calc(100vh - 75px);
  min-height: 785px;
}

.section {
  padding: 180px 0;
  position: relative;
  overflow: hidden;
}

.section .container {
  position: relative;
  z-index: 5;
}

.section:after,
.section:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
  pointer-events: none;
}

.section:after {
  bottom: -1px;
  background: linear-gradient(to top, var(--color-bg) 15%, transparent);
}

.section:before {
  top: -1px;
  background: linear-gradient(to bottom, var(--color-bg) 15%, transparent);
}

.section-bg__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.section-bg__img::before,
.section-bg__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-bg__img::before {
  z-index: 1;
  transform: scale(1.05);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

.section-bg__img:after {
  z-index: 2;
  background-color: var(--color-bg);
  opacity: 0.8;
}

.section-inner {
  width: 100%;
}

/* TITLE */
.title {
  font-family: "TTNorms";
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--shadow-text);
}

/* BUTTONS */
.btn {
  padding: 0 10px;
  flex-shrink: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text-inverse);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: uppercase;
  background-color: var(--color-main);
  transition: color 0.3s ease, background-color 0.3s ease;
}

body._desktop .btn:hover,
body._desktop .btn:focus {
  background-color: var(--color-bg-inverse);
}

/* SLIDERS */
.swiper-slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-btn__prev,
.swiper-btn__next {
  flex-shrink: 0;
  width: 45px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}

.swiper-btn__prev.swiper-button-disabled,
.swiper-btn__next.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

html._dark-theme .swiper-btn__prev,
html._dark-theme .swiper-btn__next {
  background-image: url("../images/icons/slider-arrow.svg");
}

html._light-theme .swiper-btn__prev,
html._light-theme .swiper-btn__next {
  background-image: url("../images/icons/slider-arrow-light.svg");
}

.swiper-btn__prev {
  transform: rotate(90deg);
}

.swiper-btn__next {
  transform: rotate(-90deg);
}

body._desktop .swiper-btn__prev:not(.swiper-button-disabled):hover,
body._desktop .swiper-btn__prev:not(.swiper-button-disabled):focus {
  animation: arrow-leftright 0.5s linear infinite alternate;
}

body._desktop .swiper-btn__next:not(.swiper-button-disabled):hover,
body._desktop .swiper-btn__next:not(.swiper-button-disabled):focus {
  animation: arrow-rightleft 0.5s linear infinite alternate;
}

@keyframes arrow-leftright {
  0% {
    transform: rotate(90deg) translateY(0);
  }

  100% {
    transform: rotate(90deg) translateY(-3px);
  }
}

@keyframes arrow-rightleft {
  0% {
    transform: rotate(-90deg) translateY(0);
  }

  100% {
    transform: rotate(-90deg) translateY(3px);
  }
}

.swiper-slides__counter {
  margin: 0 15px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.swiper-slides__counter > span {
  color: var(--color-text);
  font-family: "TTNorms";
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.swiper-slides__counter > span.swiper-pagination-current {
  min-width: 35px;
  margin: 0px 9px 0px 0px;
}

.swiper-slides__counter > span.swiper-pagination-total {
  margin: 0px 0px 0px 9px;
  min-width: 45px;
  font-size: 30px;
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  .swiper-slides__counter > span.swiper-pagination-total {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-text);
  }
}

/* BAGUETTEBOX */
#baguetteBox-overlay {
  background-color: rgba(19, 19, 19, 0.95) !important;
}

.baguetteBox-button {
  background-color: var(--color-main) !important;
  color: var(--color-bg) !important;
  border-radius: 0 !important;
}

.baguetteBox-button svg g,
.baguetteBox-button svg polyline {
  stroke: var(--color-bg) !important;
}

/* POPUP */
.popup {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(17, 17, 17, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.popup.is-open {
  opacity: 1;
  visibility: visible;
}

.popup.is-open .popup-content {
  opacity: 1;
  transform: scale(1);
}

.popup-body {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.popup-content {
  padding: 35px 30px;
  position: relative;
  max-width: 450px;
  color: #131313;
  background-color: #fafafa;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.popup-close {
  position: absolute;
  top: 0;
  right: -45px;
  width: 34px;
  height: 34px;
  background-color: transparent;
}

.popup-close span {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
  transition: background-color 0.3s ease;
}

.popup-close span:first-child {
  transform: rotate(-45deg);
  top: 16px;
}

.popup-close span:last-child {
  transform: rotate(45deg);
  bottom: 16px;
}

body._desktop .popup-close:hover span,
body._desktop .popup-close:focus span {
  background-color: #fafafa;
}

.popup-content__message {
  text-align: center;
}

.popup-content__title {
  font-family: "TTNorms";
  font-size: 32px;
  font-weight: 800;
  margin: 0px 0px 25px 0px;
}

.popup-content__text {
  font-size: 20px;
  line-height: 1.5em;
}

.popup-content__text:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.popup-content__text > a {
  color: var(--color-main);
  font-weight: 500;
}

body._desktop .popup-content__text > a:hover {
  text-decoration: underline;
}

.popup-content__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.popup-content__contacts > a {
  margin: 8px 16px;
  display: block;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  color: #fafafa;
  transition: color 0.2s ease;
}

.popup-content__contacts > a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup-content__contacts > a svg circle {
  fill: #131313;
  stroke: none;
}

body._desktop .popup-content__contacts > a:hover {
  color: var(--color-main);
}

/* HEADER */
.header {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--color-bg2);
  box-shadow: var(--shadow);
}

.header-logo {
  font-family: "TTNorms";
  font-size: 44px;
  font-weight: 900;
  line-height: 1em;
}

.header-logo span {
  color: var(--color-main);
}

.header-contacts {
  margin: 0px 50px 0px auto;
  display: flex;
  align-items: center;
}

.header-contacts > a {
  display: flex;
  align-items: center;
  color: var(--color-main);
  font-size: 18px;
  font-weight: 500;
}

.header-contacts > a:first-child {
  margin: 0px 30px 0px 0px;
}

.header-contacts > a > span:first-child {
  margin: 0px 8px 0px 0px;
  position: relative;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  color: var(--color-text);
}

.header-contacts > a > span:first-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-contacts > a > span:last-child {
  display: block;
  position: relative;
}

.header-contacts > a > span:last-child:before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text);
  transition: width 0.3s ease, left 0.3s ease;
}

body._desktop .header-contacts > a:hover > span:last-child:before,
body._desktop .header-contacts > a:focus > span:last-child:before {
  width: 100%;
  left: 0;
}

.header-language {
  margin: 0 10px 0 0;
  position: relative;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.header-language__trigger {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-language__trigger:hover,
.header-language__trigger:focus {
  color: var(--color-main);
}

.header-language__trigger.is-active ~ .header-language__list {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, 0, 0);
  pointer-events: all;
}

.header-language__trigger svg {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.header-language__list {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  z-index: 1;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.header-language__list > li > a {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-bg2);
  transition: color 0.2s ease, background-color 0.3s ease;
}

body._desktop .header-language__list > li > a:hover,
body._desktop .header-language__list > li > a:focus {
  color: var(--color-text-inverse);
  background-color: var(--color-main);
}

.header-theme__trigger {
  margin: 0 10px 0 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-theme__trigger.is-active > span {
  transform: translate3d(0, 0, 0);
}

.header-theme__trigger.is-active > span:nth-child(1) {
  opacity: 1;
  visibility: visible;
}

.header-theme__trigger.is-active > span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.header-theme__trigger > span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, -100%, 0);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.header-theme__trigger > span:nth-child(1) {
  opacity: 0;
  visibility: hidden;
}

.header-theme__trigger > span:nth-child(2) {
  opacity: 1;
  visibility: visible;
}

.header-theme__trigger > span svg {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

body._desktop .header-theme__trigger:hover,
body._desktop .header-theme__trigger:focus {
  color: var(--color-main);
}

.burger {
  position: relative;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: transparent;
}

.burger > span {
  position: absolute;
  top: calc(50% - 1px);
  left: 20%;
  width: 60%;
  height: 2px;
  background-color: var(--color-bg-inverse);
  transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.burger > span:first-child {
  left: 30%;
  transform: translateY(-8px) rotate(0);
  transition: background-color 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.burger > span:last-child {
  left: 10%;
  transform: translateY(8px) rotate(0);
  transition: background-color 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.burger.is-active > span {
  opacity: 0;
  visibility: hidden;
  transform: translateX(200%);
  transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.burger.is-active > span:first-child,
.burger.is-active > span:last-child {
  left: 20%;
  opacity: 1;
  visibility: visible;
  transition: background-color 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.burger.is-active > span:first-child {
  transform: translateY(0) rotate(-45deg);
}

.burger.is-active > span:last-child {
  transform: translateY(0) rotate(45deg);
}

body._desktop .burger:hover > span,
body._desktop .burger:focus > span {
  background-color: var(--color-main);
}

body._desktop .burger:hover > span:first-child,
body._desktop .burger:hover > span:last-child,
body._desktop .burger:focus > span:first-child,
body._desktop .burger:focus > span:last-child {
  left: 20%;
}

/* SIDEMENU */
.menu {
  padding: 130px 28px 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(105%);
  width: 355px;
  height: 100%;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: var(--color-bg-inverse);
  box-shadow: var(--shadow);
  will-change: transform;
  transition: transform 0.3s linear;
}

.menu.is-active {
  transform: translateX(0);
}

.menu-list {
  margin: 0px 0px 48px 0px;
  flex: 1 1 auto;
  text-align: center;
}

.menu-list > li {
  margin: 0px 0px 25px 0px;
}

.menu-list > li:last-child {
  margin: 0;
}

.menu-list > li > a {
  display: inline-block;
  position: relative;
  color: var(--color-text-inverse);
  font-family: "TTNorms";
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-list > li > a::before,
.menu-list > li > a::after {
  position: absolute;
  top: -0.085em;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
}

.menu-list > li > a::before {
  content: "[";
  left: -0.7em;
  transform: translate3d(-1em, 0, 0);
}

.menu-list > li > a::after {
  content: "]";
  right: -0.7em;
  transform: translate3d(1em, 0, 0);
}

.menu-list > li > a.active {
  color: var(--color-text-inverse);
}

.menu-list > li > a.active::before,
.menu-list > li > a.active::after {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

body._desktop .menu-list > li > a:hover:not(.active) {
  opacity: 0.7;
  transform: translateX(5px);
}

body._desktop .menu-list > li > a:focus {
  opacity: 0.7;
}

body._desktop .menu-btn.btn:hover,
body._desktop .menu-btn.btn:focus {
  color: var(--color-text);
  background-color: var(--color-bg);
}

.menu-contacts {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-contacts > li {
  margin: 0 20px;
  position: relative;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.menu-contacts > li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  color: var(--color-text-inverse);
  transition: color 0.3s ease;
}

.menu-contacts > li > a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-contacts > li > a svg circle {
  stroke-dasharray: 305% 305%;
  stroke-dashoffset: 305%;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-opacity: 0;
  transition: stroke-dashoffset 0.3s ease, stroke-opacity 0s ease 0.3s;
}

body._desktop .menu-contacts > li > a:hover svg circle,
body._desktop .menu-contacts > li > a:focus svg circle {
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s ease, stroke-opacity 0s ease;
}

/* PAGES MENU */
.pages-menu {
  padding: 150px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
  width: 85px;
  height: 100%;
  z-index: 97;
  transition: transform 0.3s ease;
}

.pages-menu.is-hidden {
  transform: translateX(105%);
}

.pages-menu__list {
  padding: 0px 0px 0px 16px;
  position: relative;
}

.pages-menu__list-item {
  padding: 20px 0px;
  display: block;
  position: relative;
  z-index: 2;
}

.pages-menu__list-item > a {
  color: var(--color-text);
  font-family: "TTNorms";
  font-size: 25px;
  font-weight: 900;
  transition: color 0.3s ease;
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  .pages-menu__list-item > a {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-text);
    transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
  }
}

.pages-menu__list-item > a.active {
  color: var(--color-text-inverse);
  -webkit-text-stroke: 1px transparent;
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  body._desktop .pages-menu__list-item > a:hover:not(.active) {
    color: var(--color-text);
    -webkit-text-stroke: 1px transparent;
  }
}

.pages-menu__marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
  background-color: var(--color-main);
  transition: top 0.3s ease;
}

.pages-menu__bottom {
  padding: 0px 0px 0px 16px;
}

.pages-menu__scrolldown {
  position: relative;
  width: 36px;
  height: 50px;
  background-color: transparent;
}

.pages-menu__scrolldown > span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  display: block;
  border-right: 3px solid var(--color-bg-inverse);
  border-bottom: 3px solid var(--color-bg-inverse);
}

.pages-menu__scrolldown > span:nth-child(1) {
  top: 5%;
  width: 12px;
  height: 12px;
  animation: arrow-pulse 1.4s linear 0s infinite;
}

.pages-menu__scrolldown > span:nth-child(2) {
  top: 25%;
  width: 16px;
  height: 16px;
  animation: arrow-pulse 1.4s linear 0.3s infinite;
}

.pages-menu__scrolldown > span:nth-child(3) {
  top: 45%;
  width: 20px;
  height: 20px;
  animation: arrow-pulse 1.4s linear 0.6s infinite;
}

.pages-menu__scrolldown--default {
  animation: rotate-back 1.5s linear forwards;
}

.pages-menu__scrolldown--lastpage {
  animation: rotate 1.5s linear forwards;
}

@keyframes arrow-pulse {
  30% {
    border-right: 3px solid var(--color-main);
    border-bottom: 3px solid var(--color-main);
  }

  60% {
    border-right: 3px solid var(--color-bg-inverse);
    border-bottom: 3px solid var(--color-bg-inverse);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.5) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(180deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: scale(1) rotate(180deg);
  }

  50% {
    transform: scale(1.5) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.runner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 4;
  background: var(--color-main);
  border-radius: 50%;
  box-shadow: 0 0 140px 110px var(--color-main);
  opacity: 0.7;
  will-change: transform;
  transition: transform 0.7s linear;
}

body._touchscreen .runner {
  display: none !important;
}

/* ABOUT-Section */
.about {
  position: relative;
}

.about-content {
  position: relative;
  z-index: 4;
}

.about-title {
  font-family: "TTNorms";
  font-size: 136px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: var(--shadow-text);
}

.about-info {
  padding: 0px 0px 0px 5px;
  width: 60%;
}

.about-txt {
  color: var(--color-main);
  margin: 0px 0px 50px 0px;
  font-size: 30px;
  font-weight: 500;
  text-shadow: var(--shadow-text);
}

.about-list {
  margin: 0px 0px 50px 0px;
}

.about-list li {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.4em;
  text-shadow: var(--shadow-text);
}

.about-list li:before {
  padding: 3px;
  margin: 0px 15px 0px 0px;
  content: "";
  flex-shrink: 0;
  width: 7px;
  height: 7px;
  border: 5px solid var(--color-bg);
  background-color: var(--color-main);
  box-shadow: 0 0 0 1px var(--color-main);
}

.about-list li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.about-btn.btn {
  width: 270px;
}

.about-img {
  padding: 0 0 50%;
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  width: 51%;
  height: 0;
  z-index: 1;
}

.about-img > span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -12%) rotate(-45deg);
  width: 100%;
  height: 100%;
}

.about-img > span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

html._dark-theme .about-img__dark,
html._light-theme .about-img__light {
  display: block;
}

html._dark-theme .about-img__light,
html._light-theme .about-img__dark {
  display: none;
}

/* RESULT-Section */
html._dark-theme .no-webp .result-bg.section-bg__img::before {
  background-image: url("../images/result/bg-mob.jpg");
}

html._light-theme .no-webp .result-bg.section-bg__img::before {
  background-image: url("../images/result/bg-light-mob.jpg");
}

html._dark-theme .webp .result-bg.section-bg__img::before {
  background-image: url("../images/result/bg-mob.webp");
}

html._light-theme .webp .result-bg.section-bg__img::before {
  background-image: url("../images/result/bg-light-mob.webp");
}

@media screen and (min-width: 577px) {
  html._dark-theme .no-webp .result-bg.section-bg__img::before {
    background-image: url("../images/result/bg.jpg");
  }

  html._light-theme .no-webp .result-bg.section-bg__img::before {
    background-image: url("../images/result/bg-light.jpg");
  }

  html._dark-theme .webp .result-bg.section-bg__img::before {
    background-image: url("../images/result/bg.webp");
  }

  html._light-theme .webp .result-bg.section-bg__img::before {
    background-image: url("../images/result/bg-light.webp");
  }
}

.result-title {
  margin: 0px 0px 100px 0px;
}

.result-slider__nav {
  margin: 0px 0px 80px 0px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.result-slider__nav-item {
  position: relative;
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  display: block;
  font-family: "TTNorms";
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2em;
  text-align: center;
  cursor: pointer;
  transform: scale(0.75);
  background-color: transparent;
  outline: none;
  will-change: transform;
  transition: transform 0.4s ease;
}

.result-slider__nav-item.is-active {
  transform: scale(1);
}

body._desktop .result-slider__nav-item:not(.is-active):hover .result-slider__nav-item-side svg,
body._desktop .result-slider__nav-item:not(.is-active):focus .result-slider__nav-item-side svg {
  transform: translate(-50%, -50%) scale(1.2);
}

.result-slider__nav-item.is-active .result-slider__nav-item-side:first-child {
  transform: perspective(800px) rotateY(-180deg);
}

.result-slider__nav-item.is-active .result-slider__nav-item-side:last-child {
  transform: perspective(800px) rotateY(0deg);
}

.result-slider__nav-item-side {
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.result-slider__nav-item-side:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: 1;
}

.result-slider__nav-item-side:first-child {
  background-color: var(--color-bg-inverse);
}

.result-slider__nav-item-side:last-child {
  background-color: var(--color-main);
  transform: perspective(800px) rotateY(180deg);
}

.result-slider__nav-item-side svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  z-index: 2;
  transition: transform 0.3s ease;
}

.result-slider__nav-item-side svg path {
  fill: var(--color-text-inverse);
}

.result-slider__nav-item-side span {
  position: relative;
  color: var(--color-text-inverse);
  z-index: 2;
}

.result-slider {
  position: relative;
  z-index: 1;
  transition: height 0.4s linear;
}

.result-slider__slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: var(--shadow-text);
  will-change: transform, opacity, visibility;
  animation: slide-away 0.6s linear forwards;
}

.result-slider__slide.is-active {
  animation: slide-in 0.6s linear forwards;
}

.result-slider__slide > span {
  margin: 15px 0px 0px 0px;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
}

@keyframes slide-away {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  75% {
    transform: translate(-50%, -30vh) scale(0);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translate(-50%, 50px) scale(1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-50%, 50px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

/* PORTFOLIO-Section */
.portfolio-title {
  margin: 0px 0px 40px 0px;
}

.portfolio-slider__wrapper {
  margin: 0px auto;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.portfolio-slider {
  margin: 0 12px 0 0 !important;
  flex-shrink: 1;
  width: 100%;
}

.portfolio-slider__slide {
  padding: 0 0 61%;
  position: relative;
  height: 0;
  overflow: hidden;
}

.portfolio-slider__clickhand {
  pointer-events: none;
  padding: 0 0 8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 0;
  z-index: 5;
  background-color: var(--color-main);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.portfolio-slider__clickhand::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 75%;
  height: 75%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: clickhand-pulse 1s ease-in-out 0s infinite alternate;
}

html._dark-theme .no-webp .portfolio-slider__clickhand::after {
  background-image: url("../images/icons/click-hand.png");
}

html._light-theme .no-webp .portfolio-slider__clickhand::after {
  background-image: url("../images/icons/click-hand-light.png");
}

html._dark-theme .webp .portfolio-slider__clickhand::after {
  background-image: url("../images/icons/click-hand.webp");
}

html._light-theme .webp .portfolio-slider__clickhand::after {
  background-image: url("../images/icons/click-hand-light.webp");
}

@keyframes clickhand-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.portfolio-slider__slide-info {
  padding: 28px 26px 32px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  z-index: 3;
  background-color: var(--color-bg2);
  box-shadow: 0 0 15px 0 rgba(19, 19, 19, 0.25);
  transition: transform 0.6s ease;
}

.portfolio-slider__slide-txt {
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  line-height: 1.7em;
}

.portfolio-slider__slide-txt > span {
  color: var(--color-main);
  font-weight: 500;
}

.portfolio-slider__slide-link {
  margin: 24px 0 0 0;
  text-align: center;
}

.portfolio-slider__slide-link > a {
  position: relative;
  color: var(--color-main);
  font-family: "TTNorms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.portfolio-slider__slide-link > a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text);
  transition: width 0.3s ease, left 0.3s ease;
}

body._desktop .portfolio-slider__slide-link a:hover:before {
  width: 100%;
  left: 0;
}

body._touchscreen .portfolio-slider__slide-info {
  transform: translate3d(0, 0, 0);
}

body._touchscreen .portfolio-slider__slide-txt,
body._touchscreen .portfolio-slider__slide-link {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1101px) {
  body._desktop .portfolio-slider__slide:hover .portfolio-slider__img {
    opacity: 0.9;
  }

  body._desktop .portfolio-slider__slide:hover .portfolio-slider__slide-info {
    transform: translate3d(0, 0, 0);
  }

  body._desktop .portfolio-slider__slide:hover .portfolio-slider__slide-txt,
  body._desktop .portfolio-slider__slide:hover .portfolio-slider__slide-link {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  body._desktop .portfolio-slider__slide:hover .portfolio-slider__slide-txt {
    transition: opacity 0.3s ease 0.35s, visibility 0.3s ease 0.35s, transform 0.3s ease 0.35s;
  }

  body._desktop .portfolio-slider__slide:hover .portfolio-slider__slide-link {
    transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s, transform 0.3s ease 0.5s;
  }

  .portfolio-slider__slide-info {
    transform: translate3d(0, 110%, 0);
  }

  .portfolio-slider__slide-txt,
  .portfolio-slider__slide-link {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, transform 0.3s ease 0s;
  }
}

.portfolio-slider__img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.6s ease;
}

.portfolio-slider__img--main {
  display: block;
  z-index: 2;
}

.portfolio-slider__img img {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

.portfolio-slider__bottom-nav {
  margin: 30px auto 0;
  display: none;
}

.portfolio-slider__nav-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 220px;
}

.portfolio-slider__nav {
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: calc(100% - 90px);
  z-index: 1;
}

.portfolio-slider__nav-slide {
  padding: 16px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--color-bg2);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.portfolio-slider__nav-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  z-index: 3;
  background-color: var(--color-main);
  transition: width 0.3s ease;
}

.portfolio-slider__nav-slide.swiper-slide-thumb-active {
  color: var(--color-text-inverse);
  background-color: var(--color-main);
}

.portfolio-slider__nav-slide.swiper-slide-thumb-active > .portfolio-slider__nav-slide-preview {
  color: var(--color-text-inverse);
}

body._desktop .portfolio-slider__nav-slide:not(.active):hover::after,
body._desktop .portfolio-slider__nav-slide:not(.active):focus::after {
  width: 100%;
}

.portfolio-slider__nav-slide-title {
  margin: 0 0 8px 0;
  font-family: "TTNorms", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.1;
}

.portfolio-slider__nav-slide-desc {
  margin: 0 0 28px 0;
  font-size: 14px;
  line-height: 1.2;
}

.portfolio-slider__nav-slide-preview {
  color: var(--color-main);
  font-size: 12px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.portfolio-slider__nav-slide-preview svg {
  margin-right: 8px;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.portfolio-slider__nav-arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.portfolio-slider__btn-prev,
.portfolio-slider__btn-next {
  pointer-events: all;
  position: absolute;
  left: 50%;
  right: auto;
  width: 70px;
  height: 30px;
  transform: translate(-50%, 0);
  z-index: 5;
  background: transparent;
}

.portfolio-slider__btn-prev::before,
.portfolio-slider__btn-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio-slider__btn-prev.swiper-button-disabled,
.portfolio-slider__btn-next.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

html._dark-theme .portfolio-slider__btn-prev::before,
html._dark-theme .portfolio-slider__btn-next::before {
  background-image: url("../images/icons/slider-arrow.svg");
}

html._light-theme .portfolio-slider__btn-prev::before,
html._light-theme .portfolio-slider__btn-next::before {
  background-image: url("../images/icons/slider-arrow-light.svg");
}

body._desktop .portfolio-slider__btn-prev:hover {
  animation: arrow-updown 0.5s linear infinite alternate;
}

body._desktop .portfolio-slider__btn-next:hover {
  animation: arrow-downup 0.5s linear infinite alternate;
}

body._desktop .portfolio-slider__btn-prev.swiper-button-disabled:hover,
body._desktop .portfolio-slider__btn-next.swiper-button-disabled:hover {
  animation: none;
}

.portfolio-slider__btn-prev {
  top: 0;
}

.portfolio-slider__btn-prev::before {
  transform: rotate(180deg);
}

.portfolio-slider__btn-next {
  top: auto;
  bottom: 0;
}

@keyframes arrow-updown {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -7px);
  }
}

@keyframes arrow-downup {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 7px);
  }
}

/* REVIEWS */
html._dark-theme .no-webp .reviews-bg.section-bg__img::before {
  background-image: url("../images/reviews/bg-mob.jpg");
  background-position: center left;
}

html._light-theme .no-webp .reviews-bg.section-bg__img::before {
  background-image: url("../images/reviews/bg-light-mob.jpg");
  background-position: center left;
}

html._dark-theme .webp .reviews-bg.section-bg__img::before {
  background-image: url("../images/reviews/bg-mob.webp");
  background-position: center left;
}

html._light-theme .webp .reviews-bg.section-bg__img::before {
  background-image: url("../images/reviews/bg-light-mob.webp");
  background-position: center left;
}

@media screen and (min-width: 577px) {
  html._dark-theme .no-webp .reviews-bg.section-bg__img::before {
    background-image: url("../images/reviews/bg.jpg");
    background-position: center;
  }

  html._light-theme .no-webp .reviews-bg.section-bg__img::before {
    background-image: url("../images/reviews/bg-light.jpg");
    background-position: center;
  }

  html._dark-theme .webp .reviews-bg.section-bg__img::before {
    background-image: url("../images/reviews/bg.webp");
    background-position: center;
  }

  html._light-theme .webp .reviews-bg.section-bg__img::before {
    background-image: url("../images/reviews/bg-light.webp");
    background-position: center;
  }
}

.reviews-title {
  margin: 0px 0px 40px 0px;
}

.reviews-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-slider {
  margin: 0;
  position: relative;
  flex-shrink: 0;
  width: 61%;
  z-index: 3;
}

.reviews-slider .swiper-wrapper {
  align-items: center;
}

.reviews-slide {
  padding: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg2);
  will-change: transform;
}

.reviews-slide::before,
.reviews-slide::after {
  content: '"';
  position: absolute;
  z-index: 2;
  color: var(--color-main);
  font-size: 100px;
  font-weight: 800;
  text-shadow: var(--shadow-text);
  pointer-events: none;
}

.reviews-slide::before {
  top: -15px;
  left: -10px;
}

.reviews-slide::after {
  bottom: -70px;
  right: -10px;
}

.reviews-slide__top {
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 30px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-main);
}

.reviews-slide__title {
  margin: 0px 30px 0px 0px;
  font-family: "TTNorms";
  font-size: 26px;
  font-weight: 800;
  line-height: 1.1;
}

.reviews-slide__name {
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: "TTNorms";
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1.25px;
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  .reviews-slide__name {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-text);
  }
}

.reviews-slide__name::before {
  content: "[";
}

.reviews-slide__name::after {
  content: "]";
}

.reviews-slide__txt {
  width: 100%;
  font-size: 18px;
  line-height: 1.6em;
}

.reviews-slider__nav {
  margin: 30px 0px 0px;
}

.reviews-img {
  padding: 0 0 31%;
  position: relative;
  flex-shrink: 0;
  width: 31%;
  z-index: 2;
}

.reviews-img > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews-img > span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

html._dark-theme .reviews-img__dark,
html._light-theme .reviews-img__light {
  display: block;
}

html._dark-theme .reviews-img__light,
html._light-theme .reviews-img__dark {
  display: none;
}

/***************************************************************************/
/* FOOTER */
html._dark-theme .no-webp .contacts-bg.section-bg__img::before {
  background-image: url("../images/contacts/bg-mob.jpg");
  background-position: bottom right;
}

html._light-theme .no-webp .contacts-bg.section-bg__img::before {
  background-image: url("../images/contacts/bg-light-mob.jpg");
  background-position: bottom right;
}

html._dark-theme .webp .contacts-bg.section-bg__img::before {
  background-image: url("../images/contacts/bg-mob.webp");
  background-position: bottom right;
}

html._light-theme .webp .contacts-bg.section-bg__img::before {
  background-image: url("../images/contacts/bg-light-mob.webp");
  background-position: bottom right;
}

@media screen and (min-width: 577px) {
  html._dark-theme .no-webp .contacts-bg.section-bg__img::before {
    background-image: url("../images/contacts/bg.jpg");
    background-position: center;
  }

  html._light-theme .no-webp .contacts-bg.section-bg__img::before {
    background-image: url("../images/contacts/bg-light.jpg");
    background-position: center;
  }

  html._dark-theme .webp .contacts-bg.section-bg__img::before {
    background-image: url("../images/contacts/bg.webp");
    background-position: center;
  }

  html._light-theme .webp .contacts-bg.section-bg__img::before {
    background-image: url("../images/contacts/bg-light.webp");
    background-position: center;
  }
}

.contacts-title {
  margin: 0px 0px 60px 0;
}

.contacts-form {
  margin: 0px auto;
  position: relative;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}

.contacts-form.is-sending {
  opacity: 0.5;
}

.contacts-form.is-sending .form-loading {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.contacts-form._err + .contacts-form__error-msg {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.form-loading {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: 2;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.form-loading img,
.form-loading svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contacts-form__item {
  position: relative;
  grid-column: 1 span;
}

.contacts-form__item--big {
  grid-column: 2 span;
  text-align: center;
}

.contacts-form__input {
  padding: 0 25px;
  width: 100%;
  height: 50px;
  color: var(--color-text);
  font-size: 18px;
  text-shadow: var(--shadow-text);
  background-color: transparent;
  border: 1px solid var(--color-text);
  transition: border 0.3s ease;
}

.contacts-form__input._err {
  border: 1px solid var(--color-error);
}

.contacts-form__textarea {
  resize: none;
  padding: 15px 25px;
  width: 100%;
  height: 150px;
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.3;
  text-shadow: var(--shadow-text);
  background-color: transparent;
  border: 1px solid var(--color-text);
  transition: border 0.3s ease;
}

.contacts-form__textarea._err {
  border: 1px solid var(--color-error);
}

.contacts-form__textarea ~ .contacts-form__label {
  top: 28px;
}

.contacts-form__label {
  padding: 0 2px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  font-size: 18px;
  text-shadow: var(--shadow-text);
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease, opacity 0.3s ease;
}

.contacts-form__input:focus ~ .contacts-form__label,
.contacts-form__input.is-valid ~ .contacts-form__label,
.contacts-form__textarea:focus ~ .contacts-form__label,
.contacts-form__textarea.is-valid ~ .contacts-form__label {
  top: -16px;
  font-size: 12px;
  opacity: 0.7;
}

.contacts-form__btn {
  color: var(--color-text);
  font-family: "TTNorms";
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s ease;
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  .contacts-form__btn {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-main);
    transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
  }
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {
  body._desktop .contacts-form__btn:hover,
  body._desktop .contacts-form__btn:focus {
    color: var(--color-main);
    -webkit-text-stroke: 1px transparent;
  }
}

.contacts-form__error-msg {
  margin: 5px 0px 0px 0px;
  color: var(--color-error);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(10px);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.contacts-rights {
  margin: 70px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
  text-shadow: var(--shadow-text);
}

/***************************************************************************/
/***************************************************************************/
/* RESPONSIVE */
@media (max-width: 1620px) {
  body {
    font-size: 18px;
  }

  .fullpage-init .section .container {
    min-height: 635px;
  }

  .title {
    font-size: 68px;
  }

  .about-title {
    font-size: 110px;
  }

  .about-txt {
    margin: 0px 0px 40px 0px;
    font-size: 22px;
  }

  .about-list {
    margin: 0px 0px 40px 0px;
  }

  .about-list li {
    font-size: 16px;
  }

  .about-img {
    padding: 0 0 48%;
    top: 45%;
    width: 48%;
  }

  .result-title {
    margin: 0px 0px 70px 0px;
  }

  .result-slider__nav {
    margin: 0px 0px 50px 0px;
  }

  .result-slider__nav-item {
    width: 220px;
    height: 220px;
    font-size: 20px;
  }

  .result-slider__slide {
    font-size: 16px;
  }

  .result-slider__slide > span {
    font-size: 12px;
  }

  .portfolio-slider__wrapper {
    width: 85%;
  }

  .portfolio-slider__slide-txt,
  .portfolio-slider__slide-link > a {
    font-size: 14px;
  }

  .reviews-slide__txt {
    font-size: 16px;
  }

  .contacts-form__textarea {
    height: 130px;
  }

  .contacts-form__btn {
    font-size: 28px;
  }

  .contacts-rights {
    font-size: 18px;
  }
}

/***************************************************************************/
@media (max-width: 1400px) {
  body {
    font-size: 16px;
  }

  .fullpage-init .section {
    padding: 55px 0px 0px 0px;
  }

  .fullpage-init .section .container {
    height: calc(100vh - 55px);
    min-height: 515px;
  }

  .section {
    padding: 110px 0;
  }

  .title {
    font-size: 54px;
  }

  .btn {
    height: 40px;
    font-size: 14px;
  }

  .swiper-btn__prev,
  .swiper-btn__next {
    width: 36px;
    height: 32px;
  }

  .swiper-slides__counter > span {
    font-size: 22px;
  }

  .swiper-slides__counter > span.swiper-pagination-total {
    font-size: 26px;
  }

  .header {
    padding: 10px 20px;
  }

  .header-logo {
    font-size: 32px;
  }

  .header-contacts {
    margin: 0px 35px 0px auto;
  }

  .header-contacts > a {
    font-size: 14px;
  }

  .header-contacts > a:first-child {
    margin: 0px 20px 0px 0px;
  }

  .header-contacts > a > span:first-child {
    width: 20px;
    height: 20px;
  }

  .menu {
    padding: 90px 20px 0;
    width: 290px;
  }

  .menu-list > li > a {
    font-size: 22px;
  }

  .pages-menu {
    padding: 80px 0px 20px 0px;
    width: 60px;
  }

  .pages-menu__marker {
    height: 50px;
  }

  .pages-menu__list {
    padding: 0px 0px 0px 10px;
  }

  .pages-menu__list-item {
    padding: 15px 0px;
    margin: 0px 0px 1px 0px;
  }

  .pages-menu__list-item > a {
    font-size: 20px;
  }

  .pages-menu__bottom {
    padding: 0px 0px 0px 10px;
  }

  .pages-menu__scrolldown {
    width: 28px;
    height: 40px;
  }

  .pages-menu__scrolldown > span:nth-child(1) {
    width: 8px;
    height: 8px;
  }

  .pages-menu__scrolldown > span:nth-child(2) {
    width: 12px;
    height: 12px;
  }

  .pages-menu__scrolldown > span:nth-child(3) {
    width: 16px;
    height: 16px;
  }

  .section.about {
    padding-top: 160px;
  }

  .fullpage-init .section.about {
    padding: 55px 0px 0px 0px;
  }

  .about-title {
    font-size: 82px;
  }

  .about-info {
    width: 65%;
  }

  .about-txt {
    margin: 0px 0px 35px 0px;
    font-size: 18px;
  }

  .about-list {
    margin: 0px 0px 35px 0px;
  }

  .about-list li {
    font-size: 14px;
  }

  .about-list li:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .about-list li:before {
    padding: 2px;
    margin: 0px 10px 0px 0px;
    border: 3px solid var(--color-bg);
  }

  .about-btn.btn {
    width: 220px;
  }

  .result-title {
    margin: 0px 0px 60px 0px;
  }

  .result-slider__nav {
    margin: 0px 0px 30px 0px;
  }

  .result-slider__nav-item {
    width: 160px;
    height: 160px;
    font-size: 16px;
    transform: scale(0.86);
  }

  .result-slider__slide {
    font-size: 14px;
  }

  .result-slider__slide > span {
    margin: 10px 0px 0px 0px;
    font-size: 11px;
  }

  .portfolio-title {
    margin: 0px 0px 30px 0px;
  }

  .portfolio-slider__wrapper {
    width: 93%;
  }

  .portfolio-slider {
    margin: 0 6px 0 0 !important;
  }

  .portfolio-slider__slide-info {
    padding: 24px 20px 28px;
  }

  .portfolio-slider__nav-wrapper {
    width: 200px;
  }

  .portfolio-slider__nav {
    height: calc(100% - 70px);
  }

  .portfolio-slider__nav-slide {
    padding: 12px 16px;
  }

  .portfolio-slider__nav-slide::after {
    height: 2px;
  }

  .portfolio-slider__nav-slide-title {
    margin: 0 0 4px 0;
    font-size: 16px;
  }

  .portfolio-slider__nav-slide-desc {
    margin: 0 0 16px 0;
    font-size: 12px;
  }

  .portfolio-slider__nav-slide-preview {
    font-size: 11px;
  }

  .portfolio-slider__nav-slide-preview svg {
    margin-right: 6px;
    width: 10px;
    height: 10px;
  }

  .portfolio-slider__btn-prev,
  .portfolio-slider__btn-next {
    width: 55px;
    height: 25px;
  }

  .reviews-slide__title {
    margin: 0px 16px 0px 0px;
    font-size: 20px;
  }

  .reviews-slide__name {
    font-size: 16px;
  }

  .reviews-slide__txt {
    font-size: 14px;
  }

  .contacts-form {
    max-width: 80%;
  }

  .contacts-form__input {
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
  }

  .contacts-form__textarea {
    padding: 15px 20px;
    height: 100px;
    font-size: 14px;
  }

  .contacts-form__textarea ~ .contacts-form__label {
    top: 23px;
  }

  .contacts-form__label {
    left: 20px;
    font-size: 14px;
  }

  .contacts-form__input:focus ~ .contacts-form__label,
  .contacts-form__input.is-valid ~ .contacts-form__label,
  .contacts-form__textarea:focus ~ .contacts-form__label,
  .contacts-form__textarea.is-valid ~ .contacts-form__label {
    font-size: 11px;
  }

  .contacts-form__btn {
    font-size: 24px;
  }

  .contacts-form__error-msg {
    font-size: 12px;
  }

  .contacts-rights {
    font-size: 14px;
  }
}

@media (max-width: 1050px) {
  .section {
    padding: 80px 0;
  }

  .title {
    font-size: 42px;
  }

  .baguetteBox-button#next-button,
  .baguetteBox-button#previous-button {
    opacity: 0.6;
  }

  .popup-content {
    max-width: 380px;
  }

  .popup-content__title {
    font-size: 28px;
  }

  .popup-content__text {
    font-size: 18px;
  }

  .header-contacts {
    margin: 0px 20px 0px auto;
  }

  .header-language,
  .header-theme__trigger,
  .burger {
    width: 36px;
    height: 36px;
  }

  .header-language {
    margin: 0 6px 0 0;
    font-size: 20px;
  }

  .header-theme__trigger {
    margin: 0 6px 0 0;
  }

  .menu {
    width: 270px;
  }

  .pages-menu {
    display: none;
  }

  .section.about {
    padding-top: 140px;
  }

  .about-title {
    font-size: 70px;
  }

  .about-img {
    right: 30px;
  }

  .about-btn.btn {
    width: 200px;
  }

  .portfolio-slider__wrapper {
    display: block;
    width: 91%;
  }

  .portfolio-slider {
    width: 100%;
    overflow: visible;
  }

  .portfolio-slider__slide {
    padding: 0;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear;
  }

  .portfolio-slider__slide.swiper-slide-active {
    opacity: 1;
    visibility: visible;
  }

  .portfolio-slider__img {
    padding: 0 0 45%;
    position: relative;
  }

  .portfolio-slider__img img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .portfolio-slider__slide-info {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .portfolio-slider__bottom-nav {
    display: flex;
  }

  .portfolio-slider__nav-wrapper {
    display: none;
  }

  .reviews-content {
    flex-wrap: wrap;
  }

  .reviews-slider {
    order: 2;
    margin: 0px auto;
    width: 80%;
    overflow: visible;
  }

  .reviews-slide {
    padding: 35px 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear;
  }

  .reviews-slide::before,
  .reviews-slide::after {
    font-size: 76px;
  }

  .reviews-slide:after {
    bottom: -56px;
  }

  .reviews-slide.swiper-slide-active {
    opacity: 1;
    visibility: visible;
  }

  .reviews-img {
    order: 1;
    padding: 0 0 360px;
    margin: 0px auto 30px;
    width: 360px;
  }

  .section.contacts {
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .section {
    padding: 60px 0;
  }

  .header {
    padding: 10px 15px;
  }

  .header-logo {
    font-size: 26px;
  }

  .header-contacts {
    margin: 0px 6px 0px auto;
  }

  .header-contacts > a:first-child {
    margin: 0px 6px 0px 0px;
  }

  .header-contacts > a > span:first-child {
    margin: 0;
    width: 36px;
    height: 36px;
  }

  .header-contacts > a > span:first-child svg {
    width: 60%;
    height: 60%;
  }

  .header-contacts > a > span:last-child {
    display: none;
  }

  .about-title {
    font-size: 56px;
  }

  .about-img {
    opacity: 0.3;
  }

  .result-title {
    margin: 0px 0px 45px 0px;
  }

  .result-slider__nav-item {
    width: 130px;
    height: 130px;
    font-size: 14px;
  }

  .portfolio-slider__wrapper {
    width: 85%;
  }

  .portfolio-slider__slide-link {
    margin: 16px 0 0 0;
  }

  .portfolio-slider__img {
    padding: 0 0 56%;
  }

  .reviews-slider {
    width: 85%;
  }

  .reviews-img {
    padding: 0 0 300px;
    width: 300px;
  }

  .contacts-title {
    margin: 0px 0px 48px 0;
  }

  .contacts-form {
    max-width: 85%;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 50px 0;
  }

  .section-bg__img:after {
    opacity: 0.75;
  }

  .title {
    font-size: 32px;
  }

  .swiper-btn__prev,
  .swiper-btn__next {
    width: 30px;
    height: 28px;
  }

  .swiper-slides__counter > span {
    font-size: 18px;
  }

  .swiper-slides__counter > span.swiper-pagination-total {
    font-size: 22px;
  }

  .popup-content {
    padding: 35px 25px 30px;
  }

  .popup-close {
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
  }

  .popup-close span {
    background-color: var(--color-bg);
  }

  .popup-close span:first-child {
    top: 11px;
  }

  .popup-close span:last-child {
    bottom: 11px;
  }

  .popup-content__title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
  }

  .popup-content__text {
    font-size: 16px;
  }

  .header {
    padding: 8px 10px;
  }

  .header-logo {
    font-size: 24px;
  }

  .menu {
    padding: 110px 15px 0;
    width: 100%;
  }

  .menu-list {
    text-align: center;
  }

  .menu-list > li > a {
    font-size: 20px;
  }

  .about-title {
    margin: 0px 0px 10px 0px;
    font-size: 40px;
  }

  .about-info {
    padding: 0px 0px 0px 2px;
    width: 100%;
  }

  .about-txt {
    font-size: 16px;
  }

  .about-img {
    padding: 0 0 75%;
    top: 54%;
    right: 15px;
    width: 70%;
  }

  .result-title {
    margin: 0px 0px 35px 0px;
  }

  .result-slider__nav {
    margin: 0px 0px 15px 0px;
    flex-wrap: wrap;
  }

  .result-slider__nav-item {
    padding: 0 0 22%;
    margin: 0 0 5%;
    width: 45%;
    height: 0;
    transform: scale(1);
    font-size: calc(13px + 7 * (100vw - 320px) / 256);
  }

  .portfolio-slider__wrapper {
    width: 95%;
  }

  .portfolio-slider__slide {
    height: 430px;
  }

  .portfolio-slider__img {
    padding: 0 0 60%;
  }

  .portfolio-slider__slide-info {
    padding: 20px 15px 24px;
  }

  .reviews-title {
    margin: 0px 0px 25px 0px;
  }

  .reviews-slider {
    width: 95%;
  }

  .reviews-slide {
    padding: 20px 15px 30px;
  }

  .reviews-slide__top {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    display: block;
  }

  .reviews-slide__title {
    margin: 0px 0px 12px 0px;
  }

  .reviews-slide__name {
    font-size: 14px;
    text-align: right;
  }

  .reviews-img {
    padding: 0px 0px 180px 0px;
    width: 180px;
  }

  .contacts-form {
    display: block;
  }

  .contacts-form__item:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }

  .contacts-form__input {
    padding: 0 15px;
  }

  .contacts-form__textarea {
    padding: 15px 15px;
  }

  .contacts-form__label {
    left: 15px;
  }

  .contacts-form__btn {
    font-size: 22px;
  }

  .contacts-rights {
    margin: 45px 0px 0px 0px;
  }
}

@media (max-width: 370px) {
  .section {
    padding: 45px 0;
  }

  .title {
    font-size: 26px;
  }

  .header-logo {
    font-size: 22px;
  }

  .header-contacts > a > span:first-child,
  .header-language,
  .header-theme__trigger,
  .burger {
    width: 30px;
    height: 30px;
  }

  .header-contacts > a > span:first-child svg,
  .header-theme__icon > span svg {
    width: 64%;
    height: 64%;
  }

  .section.about {
    padding-top: 120px;
  }

  .about-title {
    font-size: 34px;
  }

  .contacts-form {
    max-width: 95%;
  }

  .contacts-form__error-msg {
    font-size: 10px;
  }
}
